@font-face{
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}
@font-face{
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
}
@font-face{
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}
@font-face{
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

$white: #fff;
$black: #000;
$gray_dark: #262626;
$gray_light: #fafafa;
$gray_ultra_light: #dbdbdb;
$gray_medium: #C8C8C8;
$blue_button: #3897f0;
$red: #ff0000;

*{margin:0; padding:0;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body, input, textarea {background: $gray_light; font-family:Segoe UI Regular, Open Sans, Arial, Helvetica, sans-serif; overflow-X:hidden;}
a {color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
ul, li {list-style:none; margin:0;} fieldset {border:0;} textarea {resize:none;}
h1,h2,h3,h4,span,li{margin:0;}
h1{font-size:35px;}
h2{font-size:25px;}
h3{font-size:21px;}
h4{font-size:18px;}
span{font-size:15px;}
li{font-size:18px;}
p{font-size:21px;}
.bold{font-weight:bold;}
.light{font-weight:lighter;}
#wrapper_body{min-height:100vh; display:flex; flex-direction:column;}
#wrapper_components{margin-top:56px; flex-grow:1; display:flex; flex-direction:column; justify-content:flex-start;}
#wrapper_components.active{justify-content:center;}
#wrap_loading_login{width:100%; flex-grow:1;}

.indent{width:90%; max-width:935px; margin:0 auto;}

#wrap_header{width:100%; position:fixed; top:0; left:0; z-index:999; border-bottom:1px solid $gray_ultra_light; background:$white;
	.indent{display:flex; padding:11px 0;
		.logo{ flex-grow:1; display:flex; align-items:center;
			a{display:flex; align-items:center;}
			img{}
		}
		.search{display:flex; position:relative; align-items:center; width:215px; height:28px; border:1px solid $gray_ultra_light; padding:0 5px; background:$gray_light;
			input{border:0; outline:0; font-size:14px; color:#999; margin-left:5px; flex-grow:1;}
			::-webkit-input-placeholder {color: #999; font-size:14px;}
			svg{color:$gray_medium; width:17px;}
			svg:last-child{color:$gray_medium; width:17px; cursor:pointer;}
		}
		.menu{flex-grow:1; display:flex; justify-content:flex-end; align-items:center;
			svg{cursor:pointer; margin:0 7px; color:transparent; stroke: $gray_dark; width:28px; height: 28px;}
			.loading{display:flex; align-items:center; justify-content:center;}
			.loading svg{color:$gray_dark; width:22px; height:22px;}
			svg.active{color:$gray_dark;}
			svg.profile{border:1px solid $gray_dark; padding:2px; border-radius:50%;}
			img{width:28px; height:28px; border-radius:50%; margin:0 7px;}
			img.profile{border:1px solid $gray_dark; padding:2px; border-radius:50%;}
		}
	}
}

#wrap_login{width:100%; position:relative;
	.indent{max-width:805px; display:flex; justify-content:space-between; align-items:center;
		.col{width:58%; display:flex; flex-direction:column;
			.celular{width:100%;
				img{width:100%; max-width:454px;}
			}
			.logo{width:100%; text-align:center; margin-bottom:30px;
			 	img{width:100%; max-width:177px;}
			}
			span{font-size:14px; color:$gray_dark;}
			span.blue{color:$blue_button; font-weight:bold;}
			span.error{color:$red;}
			.bloco{width:100%; background:$white; border:1px solid $gray_ultra_light; padding:30px 40px 20px; text-align:center; margin:0 0 10px 0;
				&:nth-last-child(2){margin:0;}
				form{width:100%; display:flex; flex-direction:column;
					.item{position:relative; margin:0 0 6px;
						label{ position: absolute; padding:7px 8px; width:100%; height:100%; left:0; top:0; text-align:left; color: $gray_dark; transition: transform 150ms ease-out, font-size 150ms }
						label.active{transform: translateY(-15%); font-size:10px;}
					}
					input{width:100%; border:1px solid $gray_ultra_light; background:transparent; position:relative; z-index:9; padding:9px 8px; color:$gray_dark; outline:0; border-radius:2px;
						&:focus{border:1px solid #666;}}
					input[type='submit']{cursor:pointer; margin:7px 0 0 0; background:$blue_button; color:$white; font-size:14px; font-weight:500; border-radius:5px; padding:5px;
						&:disabled{opacity:0.35}}
					.loading{width:100%; background:$blue_button; border-radius:5px; padding:5.5px 0; display:flex; align-items:center; justify-content:center;
						svg{color:$white;}
					}
				}
				button{background:transparent; border:0; padding:0 5px; cursor:pointer; outline:0;}
				.esqueci{width:100%; text-align:center; margin-top:30px;
					span{font-size:12px; color:#003569;}
				}
				.title{width:100%; text-align:center; margin:20px 0 25px;
					h4{font-size:17px; color:#999; font-weight:600;}
				}
				.text{width:100%; margin:20px 0;
					span{color:#999;}
				}
			}
			.bloco.bloco2{padding:19px 0;}
			.services{width:100%; display:flex; flex-direction:column;
				.text{width:100%; text-align:center; margin:18px 0;}
				.plataformas{width:100%; display:flex; justify-content:center;
					.item{position:relative;
						&:nth-child(1){margin:0 8px 0 0;}
						img{width:100%; max-width:136px;}
					}
				}
			}
		}
		.col.col2{width:42%;
			.error{margin-top:20px;
				span{color:#ed4956; font-size:14px;}
			}
		}
	}
}

#wrap_error{width:100%; position:fixed; height:100vh; top:0; left:0; z-index:99; display:none; align-items:center; justify-content:center;
	&:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:$black; opacity:0.5}
	.indent{z-index:999; top:50%; left:50%; transform:translate(-0%, -50%); max-width:500px; background:$white; padding:50px; display:flex ;align-items:center; justify-content:center;
		.close{width:20px; height:20px; position:absolute; top:1px; right:5px; cursor:pointer;}
		.text{width:100%; text-align:center;
			span{font-size:15px; color:$gray_dark}
		}
	}
}
#wrap_error.active{display:flex;}

#wrap_footer { width: 100%; position: relative;
	.indent{max-width:1150px; display:flex; justify-content:space-between; align-items:center; padding:40px 0;
		.menu{display:flex; text-align:center;
			li{color:#003569; font-size:12px; margin:0 16px; font-weight:600;}
			li:last-child{margin:0;}
		}
		.copyright{ margin-left:30px; text-align:center;
			span{color:#999; font-size:12px; font-weight:600;}
		}
	}
}

#wrap_loading{width:100%; flex-grow:1; display:flex; align-items:center; justify-content:center;}
#wrap_profile{width:100%; position:relative;
	.indent{display:flex; flex-direction:column; padding:20px 0;
		.head{width:100%; display:flex;
			.img{width:35%; max-width:320px; display:flex; align-items:center; justify-content:center; margin:0 40px 0 0;
				img{width:100%; max-width:160px; height:160px; border-radius:50%;}
				svg{width:180px; height:auto; color:$gray_dark;}
			}
		}
		.content{flex-grow:1; display:flex; flex-direction:column; justify-content:center;
			.row{width:100%; display:flex; align-items:flex-end; margin-bottom:20px;
				span, h4{color:$gray_dark; font-size:16px;}
				button.follow{margin:0 0 0 30px; width:60px; height:30px; cursor:pointer; border:0; font-weight:bold; outline:0; display:flex; align-items:center; justify-content:center; background:#0095f6; border-radius:5px; color:$white; font-size:14px;}
				button.unfollow{margin:0 0 0 30px; width:80px; height:30px; cursor:pointer; border:1px solid $gray_ultra_light; font-weight:bold; outline:0; display:flex; align-items:center; justify-content:center; background:transparent; border-radius:5px; color:$gray_dark; font-size:14px;}
				.user{
					h4{font-size:28px; font-weight:300;}
				}
				.edit{cursor:pointer; font-size:14px; font-weight:bold; margin:0 15px 0 20px; border:1px solid $gray_ultra_light; padding:5px 11px; border-radius:4px;
				 &:active{opacity:0.5;}
				}
				.config{cursor:pointer;
					svg{color:$gray_dark;}
				}
				.item{margin:0 40px 0 0;}
				.item:last-child{margin:0;}
				.nome{width:100%;
					span{font-size:16px;}
				}
			}
			.row:last-child{margin-bottom:0;}
		}
	}
}

#wrap_linha{width:100%; position:relative; border-top: 1px solid $gray_ultra_light;
	.indent{display:flex; justify-content:center;
		.item{border-top:1px solid $gray_dark; padding:15px 0; display:flex; align-items:center;
			svg{margin:0 5px 0 0; width:15px;}
			span{font-size:12px; color:$gray_dark; letter-spacing:1px; font-weight:bold;}
		}
	}
}

#wrap_posts{width:100%; position:relative; margin:10px 0;
	.empty{text-align:center;}
	.indent{display:grid; grid-template-columns: repeat(auto-fill, 31.3%);	grid-gap: 30px 3%;
		a{width:100%; display:flex; position:relative; cursor:pointer; user-select:none;}
		.post_profile{width:100%; display:flex; position:relative; cursor:pointer; user-select:none;
			&:hover:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:$black; opacity:0.6;}
			img{width:100%; height:100%;}
			.qtd{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); z-index:99; display:flex; justify-content:space-between; align-items:center;
				svg{color:$white; margin:0 6px 0 0}
				span{color:$white;}
				.like{display:flex; align-items:center;}
				.comment{margin:0 0 0 20px; display:flex; align-items:center;}
			}
		}
		&.title{padding:0 0 20px 0; display: flex;
			h4{color:#8e8e8e; font-size:14px;
				strong{color:$gray_dark;}
			}
		}
	}
}

#wrap_config{width:100%; position:fixed; height:100vh; top:0; left:0; z-index:999; display:flex; align-items:center; justify-content:center; visibility: hidden; opacity:0;
	&.active{opacity:1; visibility: visible; transition:all .2s ease;}
	&:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:$black; opacity:0.5}
	.indent{position:initial !important; z-index:999 !important; top:50% !important; left:50% !important; transform:translate(-0%, -50%) !important; max-width:500px !important; background:$white !important; display:flex !important ; flex-direction:column !important; border-radius:12px !important;
		.item{cursor:pointer; display:flex; align-items:center; justify-content:center; padding:16px 0; width:100%; background:$white; border:0; border-bottom:1px solid $gray_ultra_light; border-top-left-radius:12px; border-top-right-radius:12px; font-size:14px; outline:0; color:$gray_dark; }
		.item:last-child{border:0; border-bottom-left-radius:12px; border-bottom-right-radius:12px;}
		.item:active{background:#E5E5E5;}
	}
}

#wrap_edit{width:100%; position:relative; margin:30px 0;
	.indent{background:$white; display:flex; border:1px solid $gray_ultra_light; border-radius:3px;
		.sidemenu{width:240px; display:flex; flex-direction:column; border-right:1px solid $gray_ultra_light;
			.item{width:100%; padding:16px 0 16px 30px; border:2px solid transparent; cursor:pointer;
				span{color:$gray_dark; font-size:16px; font-weight:normal;}
			}
			.item:hover{border-left:2px solid $gray_ultra_light;}
			.item.active{ border-left:2px solid $gray_dark;
				span{font-weight:bold;}
			}
		}
		.content{flex-grow:1; display:flex; flex-direction:column; padding:30px 140px 30px 0;
			&.content2{padding:30px 70px 30px 0;}
			.item{width:100%; display:flex; margin:0 0 16px 0;
				.col{width:200px; text-align:right; padding:5px 30px 0 30px; display:flex; align-items:flex-start; justify-content:flex-end; position:relative;
					span{font-size:16px; color:$gray_dark; font-weight:bold;					}
					input{border:1px solid $gray_ultra_light; background:transparent; padding:6px; width:100%; border-radius:3px;
						&.gray{padding:10px; background:$gray_light; border-radius:6px;
							&:focus{border:1px solid #a8a8a8; outline:0;}
						}
					}
					textarea{border:1px solid $gray_ultra_light; border-radius:3px; height:84px; background:transparent; padding:6px; width:100%; resize:vertical;}
					input[type='submit']{cursor:pointer; outline:0; width:60px; margin:20px 0 0 0; background:$blue_button; color:$white; font-size:14px; font-weight:bold; border:0; border-radius:5px;
						&.big{width:105px;}
						&:active{opacity:0.5;}
					}
					input:disabled{opacity:0.3;}
					svg{color:$gray_dark; width:30px; height:30px;}
				}
				.col.col2{flex-grow:1; justify-content:flex-start; padding:0; flex-direction:column;
					span{font-size:14px; color:#999; margin:15px 0 0 0;
						&.small{font-size:12px; text-align:left; line-height:12px; font-weight:400; margin:5px 0 0 0;}
						&.error{font-size:11px; color:$red; margin:0;}
					}
					.nome{
						span{color:$gray_dark; font-size:20px;
							&.big{font-size:24px; font-weight:400;}
						}
					}
					.file-box {position: relative; display: flex;}
					.file-box-input {position:absolute; opacity: 0; height:0; padding:0; border:0; outline:0; background:transparent;}
					.file-box-label {cursor:pointer;font-size:14px; color:$blue_button; font-weight:bold;}
					.file-box:active{opacity:0.5;}
					.loading{width:60px; height:31px; margin:20px 0 0 0; display:flex; align-items:center; justify-content:center; background:$blue_button; color:$white; font-size:14px; font-weight:bold; border:0; border-radius:5px;
						&.big{width:105px;}
						svg{color:$white; width:20px;height:20px;}
					}
				}
			}
			.item.imagem{align-items:center;
				img{width:38px; height:38px; border-radius:50%;}}
			.item:last-child{margin:0;}
		}
	}
}


#wrap_sucesso {transition:all .3s ease; z-index:999;  width: 100%; background: $gray_dark; padding: 11.5px 15px; position:fixed; bottom:-44px; left:0;
	span{font-size:15px; color:$white; font-weight:normal;}
	&.active{bottom:0}
}

#wrap_dialog{width:100%;}


@keyframes like-button{
	0%{transform:scale(1);}
	50%{transform:scale(1.4);}
	100%{transform:scale(1);}
}

@keyframes heart-icon{
	0%{transform:translate(-50%, -50%) scale(0);}
	50%{transform:translate(-50%, -50%) scale(1.4);}
	100%{transform:translate(-50%, -50%) scale(0);}
}

#wrap_principal{width:100%; position:relative; margin-top:20px;
	.indent{display:flex; justify-content:space-between; position:relative;
		.posts{width:615px; display:flex; flex-direction:column;
			.post{width:100%; display:flex; flex-direction:column; border:1px solid $gray_ultra_light; border-radius:3px; margin-bottom:60px;
				span{font-size:14px; color:$gray_dark; font-weight:bold;}
				.head{width:100%; display:flex; align-items:center; padding:16px;
					.user{display:flex; align-items:center; flex-grow:1;
						a{width:auto;}
						img{width:35px; height:35px; border-radius:50%; margin:0 10px 0 0;}
						svg{width:35px; height:35px; border-radius:50%; margin:0 10px 0 0;}
					}
					.opcoes{cursor:pointer;}
				}
				.body{width:100%; min-height:300px; position:relative;
					img{max-width:100%; width:100%;}
					.heart{position:absolute; top:50%; left:50%; animation: heart-icon .6s ease; transform: translate(-50%, -50%) scale(0);}
				}
				.actions{width:100%; display:flex; padding:0 16px; margin-top:5px;
					.item{margin:0 15px 0 0; cursor:pointer;
						svg{fill:transparent; stroke: $gray_dark; stroke-width:1.5px; width:24px; height:24px;
							&.active{fill:#ED4956; stroke:#ED4956; animation: like-button .3s ease;}
						}
					}
				}
				.likes{width:100%; padding:0 16px; margin-top:4px;
					span{font-weight:normal;
						strong{margin-left:5px; user-select:none;
							&.pointer{cursor:pointer;}
						}
					}
				}
				.comments{width:100%; padding:0 16px; margin-top:4px;
					span{font-weight:normal; display:block; margin:2px 0;
						a{display:inline;}
						&.all{color:#00376b;}
					}
					.margin{height:10px;}
				}
				.time{width:100%; padding:0 16px; margin-top:4px;
					span{color:#8e8e8e; font-size:10px; font-weight:300; text-transform:uppercase;}
				}
				form{width:100%; display:flex; padding:19px 16px; margin-top:10px; border-top:1px solid $gray_ultra_light;
					input{flex-grow:1; border:0; outline:0;}
					input[type='submit']{margin-left:15px; flex-grow:0; color:#0095f6; font-weight:bold; font-size:14px; border:0; outline:0; cursor:pointer;
						&:disabled{opacity:.3;}
					}
					::-webkit-input-placeholder {color: #999; font-size:14px;}
				}
			}
			&.single{width:100%;
				.post{flex-direction:row;
					.body{width:600px; display:flex; align-items:center;}
					.box{flex-grow:1; display:flex; flex-direction:column;
						.comments{border-top:1px solid $gray_ultra_light; overflow-y:scroll; border-bottom:1px solid $gray_ultra_light; padding:3px 16px; flex-grow:1;
							&::-webkit-scrollbar {
								display: none;
							}
							.item{width:100%; display:flex; align-items:center; margin:0 0 10px 0;
								.image{width:32px; margin:0 18px 0 0;
									img{width:32px; height:32px; border-radius:50%;}
									svg{width:32px; height:32px; border-radius:50%;}
								}
								.content{display:flex; flex-direction:column; flex-grow:1;
									span.hora{font-size:12px; color:#8e8e8e;}
								}
								&:last-child{margin:0;}
							}
						}
					}
				}
			}
		}
		.fixed{position:fixed; right:315px; width:300px;
			.user{width:100%; display:flex; align-items:center;
				.imagem{display:flex; align-items:center; margin:0 10px 0 0;
					svg{width:50px; height:50px; border-radius:50%;}
					img{width:50px; height:50px; border-radius:50%;}
				}
				.text{flex-grow:1; display:flex; flex-direction:column;
					span{font-size:14px;
						&.small{font-size:12px; color:#8e8e8e;}
					}
				}
			}
			.sugestions{border:1px solid $gray_ultra_light; margin-top:15px; padding:16px; border-radius:3px; width:100%;  display:flex; flex-direction:column;
				.head{width:100%; margin:0 0 10px 0;
					h4{color:#8e8e8e; font-size:14px; font-weight:bold;}
				}
				.body{width:100%; display:flex; flex-direction:column;
					.item{width:100%; display:flex; align-items:center; margin:5px 0;
						&:last-child{margin:5px 0 0 0;}
						.imagem{display:flex; align-items:center; margin:0 10px 0 0;
							svg{width:32px; height:32px; border-radius:50%;}
							img{width:32px; height:32px; border-radius:50%;}
						}
						.text{flex-grow:1; display:flex; flex-direction:column;
							span{font-size:14px;
								&.small{font-size:12px; color:#8e8e8e;}
							}
						}
						.follow{display:flex; align-items:center;
							button{color:#0095f6; font-size:13px; font-weight:bold; border:0; outline:0; background:transparent; cursor:pointer;
								&.unfollow{color:$gray_dark;}
								&.red{color:#ed4956; font-weight:bold;}
							}
							.size{width:20px !important; height:20px !important;}
							.loading{width:20px; height:20px; padding:0;
								svg{width:20px; height:20px;}
							}
						}
					}
				}
			}
			.footer{width:100%; display:flex; flex-wrap:wrap; margin-top:15px;
				li{position:relative; margin:2px 12px 2px 0;color: #c7c7c7; font-size: 11px; font-weight: 400; line-height: 13px; text-transform: none;
					&:after{content:''; position:absolute; top:50%; right:-7px; transform:translate(0, -50%); width:3px; height:3px; border-radius:50%; background:#c7c7c7;}
					&:last-child{&:after{display:none;}}
				}
				.copyright{width:100%; margin-top:15px;
					span{color: #c7c7c7; font-size: 11px; font-weight: 400; line-height: 13px; text-transform: none;}
				}
			}
		}
	}
	.loading{width:100%; display:flex; align-items:center; justify-content:center; padding:0 0 40px 0;
		svg{width:40px; height:40px;}
	}
	&.profile{margin:0; width: 100%; height: 100vh; top: 0; left: 0; position: fixed; display: flex; align-items: center; justify-content: center; z-index: 999; opacity: 0; visibility: hidden;
		&.active { opacity: 1; visibility: visible; transition: all .2s ease;
			&:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: $black; opacity: 0.5; }
		}
		.close{position:absolute; top:15px; right:15px; z-index:9;
			svg{color:$white; width:32px; height:32px; cursor:pointer;}
		}
		.indent { max-width: 935px; max-height:80vh; border-radius: 10px; padding: 0; background: transparent; position: relative; z-index: 9999; display: flex; align-items: center; justify-content: center; flex-direction: column;
			.post{margin:0; border:0;}
			.box{background:$white;}
		}
	}
}

.no-posts{width:100%; text-align:center; padding:0 0 40px 0;
	&.profile{padding:20px 0 40px 0;}
	span{font-size:15px; color:$gray_dark; font-weight:bold;}
}

#wrap_all_likes{width:100%; height:100vh; top:0; left:0; position:fixed; display:flex; align-items:center; justify-content:center; z-index:999; opacity:0; visibility: hidden;
	&.active{opacity:1; visibility: visible; transition:all .2s ease;
		&:after{content:''; position:absolute; top:0; left:0; background:$black; opacity:0.5; width:100%; height:100%;}
	}
	.indent{position:relative; width:400px; height:400px; max-height:60vh; border-radius:10px; background:$white !important; z-index:9999; display:flex; flex-direction:column;
		.title{width:100%; text-align:center; padding:10px 0; border-bottom:1px solid $gray_ultra_light;
			h4{font-size:16px; color:$gray_dark; font-weight:bold;}
		}
		.close{position:absolute; top:9px; right:10px; cursor:pointer;}
		.body{width:100%; flex-grow:1; padding:5px 16px 0; overflow-y:scroll;
			.item{width:100%; display:flex; align-items:center; margin:7px 0;
				.image{width:45px; margin:0 7px 0 0; display:flex; align-items:center;
					img{width:45px; height:45px; max-width:100%; border-radius:50%;}
					svg{width:45px; height:45px; max-width:100%; border-radius:50%;}
				}
				.user{display:flex; flex-direction:column; flex-grow:1;
					span{font-size:14px; color:$gray_dark; font-weight:normal;
						&:last-child{color:#8e8e8e;}
					}
				}
				.follow{width:60px; height:30px; cursor:pointer; border:0; font-weight:bold; outline:0; display:flex; align-items:center; justify-content:center; background:#0095f6; border-radius:5px; color:$white; font-size:14px;}
				.unfollow{width:80px; height:30px; cursor:pointer; border:1px solid $gray_ultra_light; font-weight:bold; outline:0; display:flex; align-items:center; justify-content:center; background:transparent; border-radius:5px; color:$gray_dark; font-size:14px;}
			}
			.loading{width:80px; height:30px; display:flex; align-items:center; justify-content:center; border:1px solid $gray_ultra_light; border-radius:5px;
				&.following{width:60px; background:#0095f6;
					svg{color:$white;}
				}
				.size{width:20px !important; height:20px !important;}
			}
		}
	}
}

#wrap_box_unfollow{width: 100%; height: 100vh; top: 0; left: 0; position: fixed; display: flex; align-items: center; justify-content: center; z-index: 9999; opacity: 1; visibility: visible;
	&:after {content: ''; position: absolute; top: 0; left: 0; background: $black; opacity: 0.5; width: 100%; height: 100%; }
	.indent {position: relative; width: 400px; padding:0; height: 310px; max-height: 60vh; border-radius: 10px; background: $white; z-index: 9999; display: flex; flex-direction: column; align-items:center;
		img{width:90px; height:90px; border-radius:50%; margin:32px 0 16px;}
		svg{width:90px; height:90px; border-radius:50%; margin:32px 0 16px;}
		span{font-size:14px !important; color:$gray_dark; text-align:center; font-weight:400; max-width:330px; flex-grow:1;}
		button{width:100%; border:0; border-top:1px solid $gray_ultra_light; padding:16px 0; background:transparent; outline:0; cursor:pointer; font-size:14px; color:$gray_dark; font-weight:400;
			&.red{color:#ed4956; font-weight:bold;}
			&:active{background:#E5E5E5;}
		}

	}
}

#wrap_search{position:absolute; bottom:-183px; left:-15px; background:$white; border:1px solid #dbdbdb; width:241px;
	.indent{position:relative; display:flex; flex-direction:column; padding:0; width:100%; max-height:360px; max-width:100%; overflow-y:scroll;
		.item-busca{cursor:pointer;width:100%; display:flex; min-height:54px; padding:8px 14px; align-items:center; border-bottom:1px solid #dbdbdb;
			.image{margin:0 5px 0 0; user-select:none;
				img{width:32px; height:32px; border-radius:50%;}
				svg{width:32px; height:32px; border-radius:50%;}
			}
			.dados{flex-grow:1; display:flex; flex-direction:column;
				span{font-size: 14px; color:#8e8e8e;
					strong{color:#262626;}
				}
			}
			&:last-child{border:0;}
		}
	}
}


#wrap_create_post{width:100%; height:100vh; top:0; left:0; position:fixed; display:flex; align-items:center; justify-content:center; z-index:999; opacity:0; visibility: hidden;
	&.active{opacity:1; visibility: visible; transition:all .2s ease;
		&:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:$black; opacity:0.5;}
	}
	.indent{max-width:600px; border-radius:10px; padding:15px 0; background:$white; position:relative; z-index:9999; display:flex; align-items:center; justify-content:center; flex-direction:column;
		.head{width:100%; display:flex; border-bottom:1px solid $gray_ultra_light; padding:10px 15px;
			.arrow{cursor:pointer;}
			.title{flex-grow:1; text-align:center;
				h4{font-size:16px; color:$gray_dark; font-weight:bold;}
			}
			.share{cursor:pointer;
				span{font-size:16px; color:#0095f6; font-weight:bold;}
			}
		}
		.body{width:100%; display:flex; padding:10px 15px; margin-top:10px;
			.imagem{display:flex; align-items:center; margin:0 10px 0 0;
				img{width:30px; height:30px; border-radius:50%;}
				svg{width:30px; height:30px; border-radius:50%;}
			}
			form{flex-grow:1; display:flex; justify-content:center; align-items:center;
				input{border:0; outline:0; width:100%; background:transparent;}
			}
			.upload{display:flex; flex-direction:column; align-items:center;
				img{width:50px; height:50px; user-select:none}
				svg{width:50px; height:50px;
					&.remove{cursor:pointer; width:25px; height:25px; margin-bottom:5px;}
				}
				span{font-size:10px; color:$red;}
				.file-box {position: relative; display: flex;}
				.file-box-input {position:absolute; opacity: 0; height:0; padding:0; border:0; outline:0; background:transparent;}
				.file-box-label {cursor:pointer; display:flex; align-items:center; justify-content:center; flex-direction:column;}
				.file-box:active{opacity:0.5;}
			}
		}
		.error{
			span{color:$red;}
		}
	}
}

#wrap_dialog_post { width: 100%; height: 100vh; top: 0; left: 0; position: fixed; display: flex; align-items: center; justify-content: center; z-index: 999; opacity: 0; visibility: hidden;
	&.active { opacity: 1; visibility: visible; transition: all .2s ease;
		&:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: $black; opacity: 0.5; }
	}
	.indent { max-width: 600px; border-radius: 10px; padding: 15px 0; background: $white; position: relative; z-index: 9999; display: flex; align-items: center; justify-content: center; flex-direction: column;
	}
}

#wrap_all_conversas{width:100%; margin:20px 0;
	.indent{display:flex; height:100vh; max-height:calc(100vh - 100px); justify-content:space-between; border:1px solid #dbdbdb; background:$white;
		.item-default{width:100%; display:flex; align-items:center; padding:8px 20px; cursor:pointer;
			&.conversa:hover{background:#fafafa;}
			.image{margin-right:12px;
				img{width:55px; height:55px; border-radius:50%;}
				svg{width:55px; height:55px; border-radius:50%;}
			}
			.dados{flex-grow:1; display:flex; flex-direction:column;
				span{font-size:14px; color:#8e8e8e; font-weight:normal;
					&.username{color:#262626;}
				}
			}
		}
		.direct{width:350px; display:flex; flex-direction:column;
			.head{width:100%; display:flex; text-align:center; height:61px; padding:18px 20px;border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;
				h4{flex-grow:1; font-size:16px; color:#262626;}
				svg{width:25px; cursor:pointer;}
			}
			.conversas{width:100%; height:100%; overflow-y:scroll;}
		}
		.box-chat{flex-grow:1; display:flex; flex-direction:column; align-items:center; justify-content:center;
			.item-default{border-bottom:1px solid #dbdbdb; height:61px; padding:10px 20px;
				img{width:25px; height:25px;}
				span.username{font-size:16px; font-weight:bold;}
			}
			.no-message{width:100%; height:100%; display:flex; flex-direction:column; align-items:center; justify-content:center; text-align:center;
				h3{font-size: 22px; font-weight:normal; color: #262626; margin:25px 0 0 0;}
				span{font-size: 14px; color: #8e8e8e; margin:5px 0 25px;}
				button{cursor:pointer; background-color: #0095f6; padding:7px 12px; border-radius: 4px; border:0; outline:0; color: #fff; font-size: 14px;
					&:active{opacity:0.7;}
				}
			}
			.chat{width:100%; height:100%; display:flex; flex-direction:column; padding:13px; overflow-y:scroll;
				.message{max-width:50%; padding:11px 16px; border-radius:22px; border:1px solid transparent;
					span{font-size:14px; color:#262626;}
				}
				.self{margin:0 0 8px auto; background:#efefef;}
				.other{margin:0 auto 8px 0; border-color:#efefef;}
			}
			form{width:calc(100% - 26px); margin:20px 0; border-radius:22px; padding:5px 15px; display:flex; border:1px solid #dbdbdb; align-items:center;
				textarea{border:0; outline:0; flex-grow:1;background:transparent; display:flex;align-items:center;}
				svg{cursor:pointer; margin:0 7px; color:transparent; stroke: $gray_dark; width:25px}
				::-webkit-input-placeholder {line-height:30px;}
				input{cursor:pointer; font-size:14px; color:#0095f6; font-weight:bold; border:0; outline:0; background:transparent;}
			}
		}
	}
}

@media (max-width: 935px) {
	#wrap_posts {
		.indent { display: grid; grid-template-columns: repeat(auto-fill, 32.8%); grid-gap: 5px 5px;}
	}
}
